# The parameters for the services defined by the bundle.
parameters:
    # The default class of the data collector.
    zitec.js_data.data_collector.class: Zitec\JSDataBundle\DataCollector\DefaultDataCollector

# The services defined by the bundle.
services:
#    # The data collector used by the data handler.
    zitec.js_data.data_collector:
        class: "%zitec.js_data.data_collector.class%"
        public: false

#    # Service which centralizes all the data which will be sent to the client's scripts.
    zitec.js_data.data_handler:
        class: Zitec\JSDataBundle\Service\DataHandler
        arguments: ['@zitec.js_data.data_collector', '@event_dispatcher']
        public: true

#    # Service which offers the functionality of the data handler service in Twig.
    zitec.js_data.twig.js_data_extension:
        class: Zitec\JSDataBundle\Twig\JSDataExtension
        arguments: ['@zitec.js_data.data_handler']
        public: false
        tags:
            - {name: twig.extension}
