{#
    The template for a generic pager used throughout the application.
    Available variables:
        - pages: the array of the page numbers;
        - current_page;
        - has_previous: a flag which marks if the pager has a previous button;
        - has_next: a flag which marks if the pager has a next button;
        - urls: the urls corresponding to the pages;
#}
<ul class="pagination">
    {% if has_previous %}
        <li>
            <a href="{{ urls[current_page - 1] }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% endif %}

    {% for page in pages %}
        <li{% if page == current_page %} class="active"{% endif %}>
            <a href="{{ urls[page] }}"
               {% if page == current_page - 1 %}rel="prev"{% elseif page == current_page + 1 %} rel="next"{% endif %}
            >
                {{ page }}
            </a>
        </li>
    {% endfor %}

    {% if has_next %}
        <li>
            <a href="{{ urls[current_page + 1] }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</ul>
