{# The template of the dashboard block row corresponding to the settings entity. #}

<tr>
    <td class="sonata-ba-list-label" width="40%">
        {{ admin.label|trans({}, admin.translationdomain) }}
    </td>
    <td>
        <div class="btn-group">
            {% if admin.hasroute('create') and admin.isGranted('CREATE') %}
                <a class="btn btn-link btn-flat" href="{{ admin.generateUrl('create')}}">
                    <i class="fa fa-plus-circle"></i>
                    {% trans from 'SonataAdminBundle' %}link_add{% endtrans %}
                </a>
            {% endif %}

            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                <a class="btn btn-link btn-flat" href="{{ admin.generateUrl('list')}}">
                    <i class="glyphicon glyphicon-list"></i>
                    {% trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
                </a>
            {% endif %}

            {% if admin.hasroute('generate') and admin.isGranted('GENERATE') %}
                <a class="btn btn-link btn-flat" href="{{ admin.generateUrl('generate')}}">
                    <i class="glyphicon glyphicon-ok"></i>
                    {% trans from admin.getTranslationDomain() %}link_generate{% endtrans -%}
                </a>
            {% endif %}
        </div>
    </td>
</tr>
